<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SuckerPunch{% endblock %}</title>
  <link rel ="icon" href="./static/images/icon.png">

  <!-- Tailwind output -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.2.min.js"></script>

  <script>
    const PUBNUB_SUB_KEY = "{{ config['PUBNUB_SUBSCRIBE_KEY'] }}";
  </script>

  <script src="{{ url_for('static', filename='js/pubnub.js') }}"></script>

</head>

<body class="bg-gradient-to-r from-indigo-500 via-red-500 to-red-500 z-0 text-white min-h-screen">

  <!-- Header -->
  <header class="bg-black/40 fixed top-0 left-0 right-0 z-50 backdrop-blur border-b border-gray-800">
    <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
      
      <img src="{{ url_for('static', filename='images/icon.png') }}" alt="SuckerPunch Icon" class="h-8 w-8">

      <nav class="space-x-6 text-sm text-gray-300">
        <a href="/" class="hover:text-white transition">Home</a>
        <a href="/sessions" class="hover:text-white transition">Workout</a>
        <a href="/stats" class="hover:text-white transition">Stats</a>
      </nav>
      <div>
        {% if session.user %}
        <div class="flex items-center gap-2">
          <a href="{{ url_for('logout') }}">
            <img src="{{ session.user.picture }}" alt="Profile Picture" class="inline-block h-8 w-8 rounded-lg ml-2 cursor-pointer hover:opacity-80 transition">
          </a>
        </div>
        {% else %}
          <a href="{{ url_for('login') }}" class="...">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png" alt="G" class = "inline-block h-8 w-8 rounded-lg ml-2 hover:border border-gray-800 transition-transform">
          </a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- Page content -->
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="bg-black/40 backdrop-blur">
    <div class="flex justify-center gap-12 border-b border-gray-800 py-4 px-6">
      <ul class="list-disc border-r border-gray-800 pr-6">
        <li><a href="https://github.com/JoshuaDonnelly/SuckerPunch">GitHub</a></li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
      </ul>
      <ul class="list-disc">
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
      </ul>
    </div>
  </footer>
</body>
</html>
