{% extends "base.html" %}

{% block title %}Home | SuckerPunch{% endblock %}

{% block content %}
<div class="relative h-[70vh] pt-20">
  <!-- Background image -->
  <div class="!bg-gray-600 absolute inset-0 z-0">
    <img src="{{ url_for('static', filename='images/indexBG.jpeg') }}" 
         alt="Boxing Match" 
         class="!bg-gray-600 w-full h-full object-cover opacity-30">
  </div>

<!-- Content -->
<section class="relative z-10 text-center py-20">
  <h2 class="text-4xl font-extrabold mb-4">
    Train Anywhere. Punch Smarter.
  </h2>

  <p class="text-lg text-white-600 max-w-xl mx-auto mb-8">
    Real-time shadowboxing feedback using motion detection.
  </p>
  <a href="{{ url_for('sessions') }}"
    class="inline-block px-8 py-3 bg-gradient-to-r from-blue-900 via-blue-700 to-blue-500 hover:border border-green-600 text-white rounded-lg font-semibold transition">
    Start Workout
  </a>
</section>

</div>

<section class = "relative z-10 text-center py-20">
  <div class="mb-8">
    <h2 class="text-4xl font-extrabold mb-4">So, What is Sucker Punch?</h2>
      <p class="text-lg text-white-600 max-w-xl mx-auto mb-8">
        Sucker Punch is an assistant application for those who want to practice their boxing skills in a game like format. In other words,
        we make shadow boxing at home fun and engaging, helping you keep fit or sharpen your uppercut!
      </p>
  </div>
</section>

<section class = "relative z-10 text-center py-20">
  <div class="mb-8">
    <h2 class="text-4xl font-extrabold mb-4">What do I need to do?</h2>
      <p class="text-lg text-white-600 max-w-xl mx-auto mb-8">
        Using our integrated hardware, you simply position the device 5-15 meters from yourself with the dome of the Motion Sensor facing you.
        Then launch one of our sessions and begin shadow boxing. The site will give you feedback as you go along. Give it a try!
      </p>
  </div>
</section>

{% endblock %}